// ================= BOATS ================= //

.section--boats .section__title {
    color: $color-darkblue3;
    // &:hover {
    //     color: $color-bronze;
    // }
}

.section--boats {
    background: $color-white;
}

.boats__item:hover ::before {
    opacity: 1;
}

.boats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32%;
        height: 48rem;

        padding: 1rem;
        margin-bottom: 3rem;

        border-radius: 1rem;
        @include bg-gradient3-1;
        -webkit-tap-highlight-color: transparent;

        position: relative;
        z-index: 21;
        transition: all 0.25s linear;
        will-change: transform;
        &::before {
            content: "";
            @include box-shadow-boats;
            opacity: 0.4;

            position: absolute;
            inset: 0;
            border-radius: 1.2rem;
            z-index: -1;
            transition: opacity 0.3s ease;
        }
        &:hover:before {
            opacity: 1;
        }
    }
    &__label {
        position: absolute;
        top: -5%;
        left: 10%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11rem;
        height: 6rem;
        background-color: $color-bronze;
        color: $color-white;
        font-size: 1.5rem;
        font-weight: 700;
    }
    &__photo {
        width: 100%;
        height: 65%;
        overflow: hidden;

        border: $border-boat-photo;

        transition: 0.6s ease;
        & img {
            @include img-fit;
            object-fit: cover;
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 35%;

        padding: 0 1rem;

        color: $color-white;

        position: relative;
    }
    &__title {
        margin: 1.5rem 0;

        font-size: 3.5rem;
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    &__info {
        display: flex;
        flex-direction: column;

        font-size: 1.8rem;
        font-weight: 300;
    }
    &__clause {
        display: flex;
        justify-content: space-between;

        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__type {
        position: relative;
        padding-left: 2.5rem;
        &::after {
            position: absolute;
            top: 50%;
            left: 0;

            content: "";
            width: 2rem;
            height: 2rem;
            background: url(../images/icons/dark-sail-boat.svg);
            background-size: cover;
            transform: translateY(-50%);
        }
    }
    &__price {
        position: relative;
        padding-left: 2.5rem;
        &::after {
            position: absolute;
            top: 50%;
            left: 0;

            content: "";
            width: 2rem;
            height: 2rem;
            background: url(../images/icons/wallet2.svg);
            background-size: cover;
            transform: translateY(-50%);
        }
    }
    &__capacity {
        position: relative;
        padding-left: 2.5rem;
        &::after {
            position: absolute;
            top: 50%;
            left: 0;

            content: "";
            width: 2rem;
            height: 2rem;
            background: url(../images/icons/users.svg);
            background-size: cover;
            transform: translateY(-50%);
        }
    }
    &__discount {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        line-height: 1.1;
        font-weight: 300;
        color: $color-bronze;
        text-align: center;
        width: 100%;
        font-size: 1.7rem;
    }
}

// ================= MEDIA ================= //

@media (max-width: 1230px) {
    .boats {
        &__title {
            font-size: 3.2rem;
        }
        &__info {
            font-size: 1.6rem;
        }
    }
}
@media (max-width: 1100px) {
    .boats {
        &__item {
            width: 48%;
        }
        &__title {
            font-size: 2.9rem;
        }
        &__info {
            font-size: 1.5rem;
        }
    }
}
@media (max-width: 770px) {
    .boats {
        flex-direction: column;
        align-items: center;
        &__item {
            width: 70%;
            margin-right: 0;
            &:hover:before {
                opacity: 0.4;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__photo {
            &:hover img {
                transform: none;
            }
        }
        &__title {
            font-size: 2.7rem;
        }
        &__info {
            font-size: 1.6rem;
        }
    }
}
@media (max-width: 575px) {
    .boats {
        &__item {
            height: 39rem;
            width: 100%;
        }
        &__description {
            padding: 0 0.5rem;
        }
        &__title {
            font-size: 2.5rem;
        }
        &__info {
            font-size: 1.6rem;
        }
        &__clause {
            margin-bottom: 1rem;
        }
    }
}
