// ================= BUTTON ================= //

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5rem 6rem;
    margin-bottom: 2rem;

    background: $color-darkblue;
    color: $color-white;
    border: 3px solid $color-white;
    border-radius: 5px;
    font-family: $font-main;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

    transition: all 0.4s ease-in-out;
    &:hover {
        border: 3px solid $color-darkblue2;
        background: $color-bronze;
        color: $color-black;
    }
}

// ================= MEDIA ================= //

@media (max-width: 770px) {
    .btn {
        font-size: 1.4rem;
        border: 2px solid $color-white;
        &:hover {
            border: 2px solid $color-darkblue2;
        }
    }
}

@media (max-width: 575px) {
    .btn {
        padding: 1.5rem 4rem;
        margin-bottom: 5rem;

        font-size: 1.2rem;
        border: 1px solid $color-white;
        &:hover {
            border: 1px solid $color-darkblue2;
        }
    }
}
