// ================= Dolphins ================= //

.section--dolphins {
    // background: -webkit-linear-gradient(to bottom, $color-darkblue, lighten($color-darkblue, 15%));
    // background: linear-gradient(to bottom, $color-darkblue, $color-darkblue2);
    background: $color-darkblue;
}
.section--dolphins .section__title {
    font-family: $font-nice;
    font-size: 7rem;
}

.dolphins {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__item {
        display: flex;
        align-items: center;
        position: relative;
        width: 40%;
    }
    &__content {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 450px;
        height: 774px;
        & video,
        iframe {
            position: absolute;
            width: 72%;
            height: 75%;
            top: 51%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        &::before {
            content: "";
            background: url(../images/dolphins/dolphin.svg) center no-repeat;
            background-size: cover;
            width: 90px;
            height: 90px;
            position: absolute;
            left: -9%;
            bottom: 0;
            z-index: 1;
        }
        &::after {
            content: "";
            background: url(../images/dolphins/love.svg) center no-repeat;
            background-size: cover;
            width: 65px;
            height: 65px;
            position: absolute;
            top: 2%;
            right: 2%;
            z-index: 1;
        }
    }
    &__smartphone {
        @include img-fit;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__text {
        color: $color-white;
        text-align: center;
        font-size: 3.2rem;
        font-style: italic;
        font-weight: 300;
        text-shadow: $color-black 3px 3px 4px;
        & p {
            margin-top: 5rem;
        }
    }
}

// ================= MEDIA ================= //

@media (max-width: 1230px) {
    .section--dolphins .section__title {
        font-size: 6rem;
    }
}
@media (max-width: 1100px) {
    .dolphins {
        &__text {
            font-size: 3rem;
        }
    }
}
@media (max-width: 990px) {
    .dolphins {
        flex-direction: column;
        &__item {
            width: 65%;
        }
        &__content {
            width: 349px;
            height: 600px;
        }
        &__text {
            font-size: 2.5rem;
            & p {
                margin: 2rem 0;
            }
        }
    }
    .section--dolphins .section__title {
        font-size: 5rem;
    }
}
@media (max-width: 770px) {
    .section--dolphins .section__title {
        font-size: 4rem;
    }
    .dolphins {
        &__text {
            font-size: 2rem;
        }
    }
}
@media (max-width: 575px) {
    .dolphins {
        flex-direction: column;
        &__content {
            width: 100%;
            height: 450px;
            &::before,
            &::after {
                display: none;
            }
            & video,
            iframe {
                width: 100%;
                height: 100%;
                border: 2px solid $color-bronze;
                border-radius: 1rem;
            }
        }
        &__smartphone {
            display: none;
        }

        &__item {
            width: 100%;
        }
        &__text {
            font-size: 1.7rem;
            & p {
                margin: 1rem 0;
            }
        }
    }
    .section--dolphins .section__title {
        font-size: 4rem;
    }
}
