// ================= GALLERY PHOTOS ================= //

.section--gallery .section__title {
    color: $color-darkblue3;
    // &:hover {
    //     color: $color-bronze;
    // }
}

.section--gallery {
    color: $color-black;
    background: -webkit-linear-gradient(to bottom, $color-white, $color-darkblue);
    background: linear-gradient(to bottom, $color-white, $color-darkblue);
}

.gallery {
    margin-bottom: 3rem;
}

// .gallery {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     &__item {
//         width: 24%;
//         height: 320px;

//         padding: 8px;
//         margin-bottom: 1rem;

//         border-radius: $border-fancy;
//         background: $color-bronze;

//         &:nth-child(even) {
//             border-radius: $border-fancy-reverse;
//             & img {
//                 border-radius: $border-fancy-reverse;
//             }
//         }
//         &:last-child {
//             margin-bottom: 0;
//         }
//         & img {
//             @include img-fit;
//             border-radius: $border-fancy;
//         }
//         &:hover .gallery__thumbnail {
//             transform: scale(1.08);
//         }
//     }
//     &__thumbnail {
//         transition: all 0.6s ease;
//     }
// }

// // ================= MEDIA ================= //

// @media (max-width: 1100px) {
//     .gallery {
//         &__item {
//             height: 320px;
//         }
//     }
// }

// @media (max-width: 990px) {
//     .gallery {
//         &__item {
//             padding: 8px;
//             width: 31%;
//         }
//     }
// }

// @media (max-width: 770px) {
//     .gallery {
//         &__item {
//             height: 300px;
//             padding: 5px;
//             &:hover .gallery__thumbnail {
//                 transform: none;
//             }
//         }
//     }
// }
// @media (max-width: 575px) {
//     .gallery {
//         &__item {
//             height: 145px;
//             width: 32%;
//             padding: 2px;
//         }
//     }
// }
