.main {
}

.fixed + .main {
    padding-top: 8rem;
}

// ================= MEDIA ================= //
@media (max-width: 1230px) {
    .fixed + .main {
        padding-top: 7rem;
    }
}
@media (max-width: 1100px) {
}
@media (max-width: 990px) {
    .fixed + .main {
        padding-top: 6.5rem;
    }
}
@media (max-width: 770px) {
    .fixed + .main {
        padding-top: 6rem;
    }
}
@media (max-width: 575px) {
    .fixed + .main {
        padding-top: 5.7rem;
    }
}
