// ================= Scroll-bar ================= //

::-webkit-scrollbar {
    width: 2.5rem;
}

::-webkit-scrollbar-track {    
    background: $color-darkblue4;
    
}

::-webkit-scrollbar-thumb {      
    border-radius: 100vw;    
    @include bg-gradientl-2;    
}

@supports (scrollbar-color: black blue) {
    * {
        scrollbar-color: $color-blue $color-darkblue4;
    }
}

