// ================= SECTION ================= //

.section {
    height: auto;

    padding: 6rem 0;
    scroll-margin-top: 7rem;

    color: $color-white;
    background: $color-darkblue;

    &__title {
        position: relative;
        margin-bottom: 10rem;

        font-family: $font-main;
        font-size: 5rem;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.1rem;
        transition: all 0.4s ease;
        & small {
            font-size: 70%;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -50%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            display: block;
            width: 33rem;
            height: 2px;
            background-color: $color-bronze;
        }
    }
}

// ================= MEDIA ================= //

@media (max-width: 1230px) {
    .section {
        padding: 5rem 0;
        &__title {
            font-size: 4.5rem;
            margin-bottom: 8rem;
        }
    }
}
@media (max-width: 990px) {
    .section {
        padding: 4.5rem 0;
        &__title {
            font-size: 4rem;
            margin-bottom: 7rem;
            &:after {
                width: 23rem;
            }
        }
    }
}
@media (max-width: 770px) {
    .section {
        padding: 4rem 0;
        scroll-margin-top: 6rem;
        &__title {
            font-size: 3.5rem;
            margin-bottom: 6rem;
            &:after {
                width: 17rem;
            }
        }
    }
}
@media (max-width: 575px) {
    .section {
        padding: 3rem 0;
        scroll-margin-top: 5rem;
        &__title {
            font-size: 3rem;
            margin-bottom: 3rem;
            &:after {
                display: none;
            }
        }
    }
}
