// ================= Ship ================= //

.ship {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $color-darkblue;
    &__name {
        margin: 3rem auto;
        letter-spacing: 0.8px;
        font-size: 5rem;
        font-weight: 700;
    }        
    &__section {
        width: 100%;
        padding: 5rem 0;
    }
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__title {
        margin: 0 0 4rem 0;

        letter-spacing: 1px;
        font-size: 3.6rem;
        font-weight: 700;

        & span {
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;

                background: $color-bronze;

                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
        }
    }
    &__about {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__description {
        width: 54%;

        padding: 0 2rem;
        margin-bottom: 2rem;

        line-height: 1.5;
        font-size: 1.8rem;
        font-weight: 500;
        text-shadow: $text-shadow;
        & p {
            margin-top: 2rem;
        }
    }
    &__description--wide {
        width: 100%;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;

        padding: 4rem 2rem;

        font-size: 2rem;
        border-radius: 2rem;
        @include bg-gradient2-4;
        @include box-shadow-boats-hover;
    }
    &__parameters {
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 2px;
            height: 110%;

            background: $color-bronze;

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
    &__clause {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__type {
        font-weight: 700;
    }
    &__value {
        font-weight: 500;
    }
    &__cost {
        padding-top: 6rem;
    }
    &__price {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        color: $color-bronze;
    }
    &__feature {
        display: flex;
        flex-direction: column;
    }
    &__order {
        max-width: 40%;
    }
}

// ================= MEDIA ================= //
@media (max-width: 1230px) {
    .ship {
        &__name {
            margin: 2.5rem auto;
            font-size: 4.5rem;
        }
        &__title {
            font-size: 3.4rem;
            text-align: center;
        }
        // &__about {
        //     display: flex;
        //     justify-content: space-between;
        // }
        &__description {
            margin: 0 auto 2rem auto;
            padding: 0;

            text-align: center;
            font-size: 1.7rem;
            & p {
                margin-top: 1.8rem;
            }
        }
        &__info {
            font-size: 2rem;
        }
        &__order {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
        }
    }
}
@media (max-width: 1100px) {
}
@media (max-width: 990px) {
    .ship {
        &__about {
            justify-content: flex-start;
            flex-direction: column-reverse;
        }
        &__description {
            width: 80%;
        }
        &__info {
            margin: 0 auto 3rem auto;
            width: 70%;
        }
    }
}
@media (max-width: 770px) {
    .ship {
        &__description {
            width: 95%;
        }
        &__info {
            width: 90%;
        }
        &__clause {
            margin-bottom: 2rem;
        }
        &__cost {
            padding-top: 3rem;
        }
    }
}
@media (max-width: 575px) {
    .ship {
        &__name {
            margin: 2rem auto;
            font-size: 3.5rem;
        }
        &__section {
            padding: 2rem 0;
        }

        &__title {
            margin: 0 0 3rem 0;

            font-size: 2.7rem;
            text-align: center;
        }
        &__about {
            display: flex;
            justify-content: space-between;
        }
        &__description {
            width: 100%;
            padding: 0;

            line-height: 1.4;
            font-size: 1.5rem;
            & p {
                margin-top: 1.5rem;
            }
        }
        &__info {
            width: 100%;
            padding: 2rem 1rem;
            font-size: 1.3rem;
        }
        &__clause {
            margin-bottom: 1.7rem;
        }
        &__cost {
            padding-top: 2rem;
        }
        &__price {
            font-size: 2.2rem;
        }
    }
}
