<!-- Google fonts CDN -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500&display=swap"
    rel="stylesheet">


<!-- Yandex.Metrika counter -->
<script
    async> (function (m, e, t, r, i, k, a) { m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) }; m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a) })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(74716621, "init", { clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true });</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/74716621" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript> <!-- /Yandex.Metrika counter -->

<!-- PAGE TITLE -->
<title>Яхта-Ялта | Аренда яхты и катера. Морские прогулки</title>
</head>

<body>