<!-- Maestro shipSlider - photos of the ship -->

<div class="ship__images">

    <!-- Slider -->
    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-1.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-2.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-2.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-3.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-3.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-4.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-4.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-5.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-5.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-6.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-6.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-7.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-7.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-8.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-8.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-9.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-9.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-10.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-10.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-11.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-11.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-12.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-12.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-13.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-13.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-14.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-14.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-15.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-15.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-16.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-16.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-17.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-17.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-18.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-18.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-19.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-19.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-20.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-20.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-21.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-21.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-22.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-22.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-23.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-23.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/alustar-24.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/alustar/alustar-24.jpg"
                            alt="яхта алюстар ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

        </div> <!-- slider wrapper -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> <!-- slider container -->


    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <div class="shipSlider-mini swiper-container">
        <div class="shipSlider-mini__wrapper swiper-wrapper">

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-1.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-1.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-2.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-2.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-3.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-3.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-4.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-4.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-5.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-5.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-6.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-6.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-7.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-7.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-8.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-8.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-9.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-9.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-10.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-10.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-11.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-11.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-12.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-12.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-13.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-13.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-14.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-14.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-15.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-15.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-16.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-16.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-17.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-17.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-18.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-18.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-19.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-19.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-20.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-20.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-21.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-21.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-22.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-22.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-23.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-23.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/alustar/thumbs/alustar-24.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/alustar/thumbs/alustar-24.jpg"
                            alt="яхта Алюстар ялта">
                    </picture>
                </div>
            </div>

        </div> <!-- slider MINI-wrapper -->
    </div> <!-- slider MINI-container -->

</div>