<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            Современная моторная яхта "Алюстар" приглашает на борт для проведения морских однодневных прогулок,
            экскурсий, рыбалки и купания в открытом море, а также во многодневные круизы по побережью Крыма. До 10
            человек, каюты, туалет, кухня и бар, банкетная зона, снасти, мангал.
            <p>
                Комфортабельная яхта вмещает до 10 человек для прогулок и рыбалки без ночевки до 5 человек для
                длительных круизов по побережью Черного моря. Возьмите яхту в аренду с капитаном и отправляйтесь в
                увлекательное морское путешествие к самым известным и труднодоступным природным объектам и
                достопримечательностям Крыма, вы побываете на диких пляжах в лучших живописных бухтах полуострова,
                искупаетесь в кристальной чистой воде открытого моря и поймаете рыбу на морской рыбалке (наживка и
                снасти входят в стоимость аренды). На открытой палубе есть просторная зона для загара, со всем
                необходимы для комфортного и безопасного отдыха под Крымским солнцем. На бору работает повар, а мы
                закупим для вас любые крымские деликатесы и вина лучших виноделов, полная кухня позволит организовать
                отличный банкет, две комфортные каюты для отдыха и сна во время путешествия, а также душ с пресной,
                холодной и горячей водой. Маршрут путешествия будет составлен по вашим предпочтениям, возможен заход в
                порты других городов Крыма или Краснодарского края.
            </p>

        </div>
        <div class="ship__info">
            <div class="ship__parameters">
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="ship__value">
                        {{alustar.type}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="ship__value">
                        {{alustar.capacity}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-length}}
                    </div>
                    <div class="ship__value">
                        {{alustar.length}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-beam}}
                    </div>
                    <div class="ship__value">
                        {{alustar.beam}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-draft}}
                    </div>
                    <div class="ship__value">
                        {{alustar.draft}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-speed}}
                    </div>
                    <div class="ship__value">
                        {{alustar.speed}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-cabins}}
                    </div>
                    <div class="ship__value">
                        {{alustar.cabins}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-sleeps}}
                    </div>
                    <div class="ship__value">
                        {{alustar.sleeps}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-toilets}}
                    </div>
                    <div class="ship__value">
                        {{alustar.toilets}}
                    </div>
                </div>
            </div> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{alustar.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>