<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            “Анадель де Грэйн” – красивая, крупная яхта с алыми парусами. Одна из самых комфортабельных парусно-моторных
            яхт Крыма.
            Cтроилась по индивидуальному проекту в 2010 году в Италии.
            <p>
                - Высокие потолки, есть возможность ходить по каюте в полный рост
            </p>
            <p>
                - Яхта имеет 3 комфортабельные 2-х местные каюты с отдельными гальюнами с душем, горячая и холодная вода
            </p>
            <p>
                - В носовой части расположен 2-х местный форпик для команды со своим гальюном
            </p>
            <p>
                - Камбуз оборудован 2-х конфорочной электроплитой с электродуховкой, СВЧ печью, холодильником.
                Отдельная-морозильная камера
            </p>
            <p>
                - Все каюты оборудованы кодиционерами тепло-холод
            </p>
            <p>
                - Просторная кают-компания с двумя диванами и столами, спутниковое телевидение в кают-компании и каюте
                владельца
            </p>
            <p>
                - Вся отделка и мебель изготовлена из морской фанеры и отделана шпоном натурального дерева
            </p>
            <p>
                - Управление осуществляется из 2-х мест — кокпита и закрытой просторной рубки с диваном и штурманским
                местом
            </p>
            <p>
                - Навигация спутниковый телефон - Simrad, АИС, УКВ и ПВКВ радиосвязь
            </p>
            <p>
                - Яхта оборудована всем необходимым спасательным оборудованием: спасательный плот на 10 чел.,
                спасательные круги и жилеты, аварийный буй
            </p>
        </div>
        <div class="ship__info">
            <div class="ship__parameters">
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="ship__value">
                        {{anadel.type}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="ship__value">
                        {{anadel.capacity}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-length}}
                    </div>
                    <div class="ship__value">
                        {{anadel.length}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-beam}}
                    </div>
                    <div class="ship__value">
                        {{anadel.beam}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-draft}}
                    </div>
                    <div class="ship__value">
                        {{anadel.draft}}
                    </div>
                </div>
                <!-- <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-speed}}
                    </div>
                    <div class="ship__value">
                        {{anadel.speed}}
                    </div>
                </div> -->
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-cabins}}
                    </div>
                    <div class="ship__value">
                        {{anadel.cabins}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-sleeps}}
                    </div>
                    <div class="ship__value">
                        {{anadel.sleeps}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-toilets}}
                    </div>
                    <div class="ship__value">
                        {{anadel.toilets}}
                    </div>
                </div>
            </div> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{anadel.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>