<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            Аурелия - это крупная, просторная яхта.
            Особенности:
            <p>
                - У яхты широкие, свободные проходы.
            </p>
            <p>
                - Высокие реленги обеспечивают дополнительную безопасность
            </p>
            <p>
                - Качественная посуда
            </p>
            <p>
                - При прогулке от 4-х часов можно приготовить мясо или улов на мангале.
            </p>
            <p>
                - За столом под тентом свободно помещаются 10 человек
            </p>
            <p>
                - Хорошая цена, как для крупной яхты.
            </p>
            <p>
                Прилагаются скидки на аренду
                светового дня/суток.
            </p>
        </div>
        <div class="ship__info">
            <div class="ship__parameters">
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="ship__value">
                        {{aurelia.type}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="ship__value">
                        {{aurelia.capacity}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-length}}
                    </div>
                    <div class="ship__value">
                        {{aurelia.length}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-beam}}
                    </div>
                    <div class="ship__value">
                        {{aurelia.beam}}
                    </div>
                </div>

            </div> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{aurelia.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>