<div class="ship__feature">
    <div class="container">
        <div class="ship__title">
            <h2><span>
                    {{all-data.word-video}}
                </span></h2>
        </div>

        <div class="video">
            <div class="video__col video__col--big">
                <div class="video__item video__item--big">
                    <iframe class="lazyload" data-src="https://www.youtube.com/embed/oS_5Limim8E?loop=1"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <!-- <div class="video__col">
                <div class="video__item video__item">
                    <iframe class="lazyload" data-src=""
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="video__item video__item">
                    <iframe class="lazyload" data-src=""
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div> -->
        </div>
    </div>
</div>