<!-- ================= Boats ================= -->

<!-- Maestro -->
<div class="boats">
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../maestro.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/maestro/maestro-1.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/maestro/maestro-1.jpg"
          alt="Катер Маэстро, Ялта"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{maestro.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{maestro.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{maestro.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{maestro.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

  <!-- Alexandra -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../alexandra.html">
    <div class="boats__photo">
      <picture>
        <source
          data-srcset="./assets/images/boats/alexandra/thumbs/alexandra-1.webp"
          type="image/webp"
        />
        <img
          class="lazyload"
          data-src="./assets/images/boats/alexandra/thumbs/alexandra-1.jpg"
          alt="Яхта Александра"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{alexandra.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{alexandra.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{alexandra.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{alexandra.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

 <!-- Nikole -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../nikole.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-1.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/nikole/thumbs/nikole-1.jpg"
          alt="Парусно-моторная яхта Николь, Ялта"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{nikole.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{nikole.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{nikole.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{nikole.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

  <!-- Aurelia -->
      <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../aurelia.html">
        <div class="boats__photo">
            <picture>
                <source data-srcset="./assets/images/boats/aurelia/thumbs/aurelia-1.webp" type="image/webp">
                <img class="lazyload" data-src="./assets/images/boats/aurelia/thumbs/aurelia-1.jpg" alt="Яхта Аурелия">
            </picture>

        </div>
        <div class="boats__description">
            <div class="boats__title">{{aurelia.name}}</div>
            <div class="boats__info">
                <div class="boats__clause">
                    <div class="boats__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="boats__value">
                        {{aurelia.type}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__price">
                        {{all-data.word-price}}
                    </div>
                    <div class="boats__value">
                        {{aurelia.price}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__capacity">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="boats__value">
                        {{aurelia.capacity}}
                    </div>
                </div>
            </div>
        </div>
    </a>

<!-- Natatores -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../natatores.html">
    <div class="boats__photo">
      <picture>
        <source
          data-srcset="./assets/images/boats/natatores/thumbs/natatores-1.webp"
          type="image/webp"
        />
        <img
          class="lazyload"
          data-src="./assets/images/boats/natatores/thumbs/natatores-1.jpg"
          alt="яхта нататорес"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{natatores.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{natatores.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{natatores.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{natatores.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

  <!-- Barcelona -->
      <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../barcelona.html">
        <div class="boats__photo">
            <picture>
                <source data-srcset="./assets/images/boats/barcelona/thumbs/barcelona-7.webp" type="image/webp">
                <img class="lazyload" data-src="./assets/images/boats/barcelona/thumbs/barcelona-7.jpg"
                    alt="Яхта Барселона Ялта">
            </picture>

        </div>
        <div class="boats__description">
            <div class="boats__title">{{barcelona.name}}</div>
            <div class="boats__info">
                <div class="boats__clause">
                    <div class="boats__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="boats__value">
                        {{barcelona.type}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__price">
                        {{all-data.word-price}}
                    </div>
                    <div class="boats__value">
                        {{barcelona.price}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__capacity">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="boats__value">
                        {{barcelona.capacity}}
                    </div>
                </div>
            </div>
        </div>
    </a>

  <!-- Raffaela -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../raffaela.html">
    <div class="boats__photo">
      <picture>
        <source
          data-srcset="./assets/images/boats/raffaela/thumbs/raffaela-4.webp"
          type="image/webp"
        />
        <img
          class="lazyload"
          data-src="./assets/images/boats/raffaela/thumbs/raffaela-4.jpg"
          alt="яхта нататорес"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{raffaela.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{raffaela.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{raffaela.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{raffaela.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

  <!-- Snafu -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../snafu.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/snafu/thumbs/snafu-2.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/snafu/thumbs/snafu-2.jpg"
          alt="Яхта Снафу на большое количество человек Ялта"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{snafu.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{snafu.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{snafu.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{snafu.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

  <!-- Altair -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../altair.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/altair/thumbs/altair-1.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/altair/thumbs/altair-1.jpg"
          alt="яхта Альтаир Ялта"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{altair.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{altair.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{altair.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{altair.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

<!-- Junior -->
<!--   <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../junior.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/junior/thumbs/junior-1.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/junior/thumbs/junior-1.jpg"
          alt="Катер Junior Star Ялта"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{junior.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{junior.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{junior.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{junior.capacity}}</div>
        </div>
      </div>
    </div>
  </a> -->

  <!-- Anadel -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../anadel.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/anadel/thumbs/anadel-5.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/anadel/thumbs/anadel-5.jpg"
          alt="Яхта Анадель де грэйн Ялта"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{anadel.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{anadel.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{anadel.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{anadel.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

  <!-- Eden -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../eden.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/eden/thumbs/eden-3.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/eden/thumbs/eden-3.jpg"
          alt="Яхта Эден Ялта"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{eden.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{eden.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{eden.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{eden.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

  <!-- Omega -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../omega.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/omega/thumbs/omega-3.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/omega/thumbs/omega-3.jpg"
          alt="Катамаран Омега Ялта-Севастополь"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{omega.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{omega.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{omega.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{omega.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

  <!-- Karolina -->
  <!--     <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../karolina.html">
        <div class="boats__photo">
            <picture>
                <source data-srcset="./assets/images/boats/karolina/thumbs/karolina-1.webp" type="image/webp">
                <img class="lazyload" data-src="./assets/images/boats/karolina/thumbs/karolina-1.jpg"
                    alt="Яхта Каролина Ялта">
            </picture>
        </div>
        <div class="boats__description">
            <div class="boats__title">{{karolina.name}}</div>
            <div class="boats__info">
                <div class="boats__clause">
                    <div class="boats__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="boats__value">
                        {{karolina.type}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__price">
                        {{all-data.word-price}}
                    </div>
                    <div class="boats__value">
                        {{karolina.price}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__capacity">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="boats__value">
                        {{karolina.capacity}}
                    </div>
                </div>
            </div>
        </div>
    </a> -->

  <!-- Mishor -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../mishor.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/mishor/thumbs/mishor-1.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/mishor/thumbs/mishor-1.jpg"
          alt="Катер Мисхор"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{mishor.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{mishor.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{mishor.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{mishor.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

 <!-- Ibiza -->
<!--   <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../ibiza.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/ibiza/thumbs/ibiza-1.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/ibiza/thumbs/ibiza-1.jpg"
          alt="Катер Ибица Ялта"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{ibiza.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{ibiza.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{ibiza.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{ibiza.capacity}}</div>
        </div>
      </div>
    </div>
  </a> -->


  <!-- Raskat -->
  <!-- <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../raskat.html">
        <div class="boats__photo">
            <picture>
                <source data-srcset="./assets/images/boats/raskat/thumbs/raskat-2.webp" type="image/webp">
                <img class="lazyload" data-src="./assets/images/boats/raskat/thumbs/raskat-2.jpg"
                    alt="Катамаран Раскат Strike Ялта-Севастополь">
            </picture>

        </div>
        <div class="boats__description">
            <div class="boats__title">{{raskat.name}}</div>
            <div class="boats__info">
                <div class="boats__clause">
                    <div class="boats__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="boats__value">
                        {{raskat.type}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__price">
                        {{all-data.word-price}}
                    </div>
                    <div class="boats__value">
                        {{raskat.price}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__capacity">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="boats__value">
                        {{raskat.capacity}}
                    </div>
                </div>
            </div>
        </div>
    </a> -->

  <!-- Alustar -->
<!--   <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../alustar.html">
    <div class="boats__photo">
      <picture>
        <source
          data-srcset="./assets/images/boats/alustar/thumbs/alustar-1.webp"
          type="image/webp"
        />
        <img
          class="lazyload"
          data-src="./assets/images/boats/alustar/thumbs/alustar-1.jpg"
          alt="Яхта Алюстар Ялта"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{alustar.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{alustar.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{alustar.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{alustar.capacity}}</div>
        </div>
      </div>
    </div>
  </a> -->

  <!-- Label -->
  <!-- <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../label.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/label/thumbs/label-2.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/label/thumbs/label-2.jpg"
          alt="Яхта Лабэль"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{label.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{label.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{label.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{label.capacity}}</div>
        </div>
      </div>
    </div>
  </a> -->

  <!-- Monika
    <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../monika.html">
        <div class="boats__photo">
            <picture>
                <source data-srcset="./assets/images/boats/monika/thumbs/monika-4.webp" type="image/webp">
                <img class="lazyload" data-src="./assets/images/boats/monika/thumbs/monika-4.jpg"
                    alt="Катер Моника Ялта">
            </picture>
        </div>
        <div class="boats__description">
            <div class="boats__title">{{monika.name}}</div>
            <div class="boats__info">
                <div class="boats__clause">
                    <div class="boats__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="boats__value">
                        {{monika.type}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__price">
                        {{all-data.word-price}}
                    </div>
                    <div class="boats__value">
                        {{monika.price}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__capacity">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="boats__value">
                        {{monika.capacity}}
                    </div>
                </div>
            </div>
        </div>
    </a> -->

  <!-- Vaynah -->
  <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../vaynah.html">
    <div class="boats__photo">
      <picture>
        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-1.webp" type="image/webp" />
        <img
          class="lazyload"
          data-src="./assets/images/boats/vaynah/thumbs/vaynah-1.jpg"
          alt="яхта нататорес"
        />
      </picture>
    </div>
    <div class="boats__description">
      <div class="boats__title">{{vaynah.name}}</div>
      <div class="boats__info">
        <div class="boats__clause">
          <div class="boats__type">{{all-data.word-type}}</div>
          <div class="boats__value">{{vaynah.type}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__price">{{all-data.word-price}}</div>
          <div class="boats__value">{{vaynah.price}}</div>
        </div>
        <div class="boats__clause">
          <div class="boats__capacity">{{all-data.word-capacity}}</div>
          <div class="boats__value">{{vaynah.capacity}}</div>
        </div>
      </div>
    </div>
  </a>

  <!-- Faraon -->
  <!--     <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../faraon.html">
        <div class="boats__photo">
            <picture>
                <source data-srcset="./assets/images/boats/faraon/thumbs/faraon-3.webp" type="image/webp">
                <img class="lazyload" data-src="./assets/images/boats/faraon/thumbs/faraon-3.jpg"
                    alt="Катер Фараон Ялта">
            </picture>
        </div>
        <div class="boats__description">
            <div class="boats__title">{{faraon.name}}</div>
            <div class="boats__info">
                <div class="boats__clause">
                    <div class="boats__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="boats__value">
                        {{faraon.type}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__price">
                        {{all-data.word-price}}
                    </div>
                    <div class="boats__value">
                        {{faraon.price}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__capacity">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="boats__value">
                        {{faraon.capacity}}
                    </div>
                </div>
            </div>
        </div>
    </a> -->

  <!-- Saint-mary -->
      <a class="boats__item" data-aos="fade-in" data-aos-duration="700" href="../saint-mary.html">
        <div class="boats__photo">
            <picture>
                <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-2.webp" type="image/webp">
                <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-2.jpg"
                    alt="яхта Мария Ялта">
            </picture>
        </div>
        <div class="boats__description">
            <div class="boats__title">{{saint-mary.name}}</div>
            <div class="boats__info">
                <div class="boats__clause">
                    <div class="boats__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="boats__value">
                        {{saint-mary.type}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__price">
                        {{all-data.word-price}}
                    </div>
                    <div class="boats__value">
                        {{saint-mary.price}}
                    </div>
                </div>
                <div class="boats__clause">
                    <div class="boats__capacity">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="boats__value">
                        {{saint-mary.capacity}}
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
