<!-- ================= Cards ================= -->

<section class="section section--cards">
    <div class="container">
        <h3 class="section__title" data-aos="fade-in">Воспоминания на всю жизнь...</h3>
        <div class="cards" data-aos="slide-left">
            <div class="cards__item">
                <div class="cards__photo">
                    <picture>
                        <source srcset="./assets/images/cards/cards-1.webp" type="image/webp">
                        <img src="./assets/images/cards/cards-1.jpg" alt="Морская прогулка скала Дива">
                    </picture>
                </div>
                <div class="cards__caption">
                    <span>Любуемся скалой "Дива", Cимеиз</span>
                </div>
            </div>
            <div class="cards__item">
                <div class="cards__photo">
                    <picture>
                        <source data-srcset="./assets/images/cards/cards-2.webp" type="image/webp">
                        <img class="lazyload" src="./assets/images/cards/cards-2.jpg"
                            alt="морская прогулка к ласточкино гнездо Ялта">
                    </picture>
                </div>
                <div class="cards__caption">
                    <span>Ласточкино гнездо</span>
                </div>
            </div>
            <div class="cards__item">
                <div class="cards__photo">
                    <picture>
                        <source data-srcset="./assets/images/cards/grill-1.webp" type="image/webp">
                        <img class="lazyload" src="./assets/images/cards/grill-1.jpg"
                            alt="Рыбалка и гриль на катере в Ялте">
                    </picture>
                </div>
                <div class="cards__caption">
                    <span>Готовим свежевыловленную рыбу на гриле <small>&#128523;</small></span>
                </div>
            </div>
        </div>

        <div class="cards cards--you">
            <div class="cards__text" data-aos="fade-in">
                Почему бы и Вам не наполнить свою жизнь прекрасными моментами?
                <p>Совершите морские прогулки вдоль берегов Ялты вместе с</p>
                <p><b>#ЯхтаЯлта</b></p>
            </div>
            <div class="cards__polaroid" data-aos="zoom-out">
                <picture>
                    <source data-srcset="./assets/images/cards/polaroid-empty.webp" type="image/webp">
                    <img class="lazyload" data-src="./assets/images/cards/polaroid-empty.png" alt="фото карточка">
                </picture>
            </div>
        </div>
    </div>
</section>