<!-- contact SOCIALS -->

<div class="contacts__social">
    <div class="contacts__text">Наши соцсети:</div>

    <a class="contacts__link" href="https://www.youtube.com/channel/UCQqGXiuV2G6QTfohbJjdRWA" target="_blank">
        <svg class="contacts__icon">
            <use xlink:href="#youtube"></use>
        </svg>
    </a>

    <a class="contacts__link" href="https://instagram.com/yahtayalta.ru" target="_blank">
        <svg class="contacts__icon">
            <use xlink:href="#instagram"></use>
        </svg>
    </a>

    <!-- <a class="contacts__link" href="https://instagram.com/yahtayalta.ru" target="_blank">
        <svg class="contacts__icon">
            <use xlink:href="#vk"></use>
        </svg>
    </a> -->

</div>