<!-- contact mobile Phones of persons -->

<div class="contacts__item" data-aos="fade-in">
    <div class="contacts__name">Даниил:</div>
    <div class="contacts__wrapper">
        <a class="contacts__phone" href="tel:+79780183060">+7 (978) 018-30-60</a>
    </div>
</div>

<!-- <div class="contacts__item">
    <div class="contacts__name">Владимир:</div>
    <div class="contacts__wrapper">
        <a class="contacts__phone" href="tel:+79780160339">+7 (978) 016-03-39</a>
    </div>
</div> -->

<!-- <div class="contacts__item">
    <div class="contacts__name">Родион:</div>
    <div class="contacts__wrapper">
        <a class="contacts__phone" href="tel:+79781000171">+7 (978) 100-01-71</a>
    </div>
</div> -->