<!-- <div class="contacts__location">
        <div class="contacts__icon contacts__icon--anchor">
            <img class="lazy" data-src="./assets/images/icons/anchor.svg"  alt="yahta-yalta-location">
        </div>
        <div class="contacts__title">Место посадки:</div>
        <div class="map">
            <iframe class="lazy" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3A9e74b1df9010bb854eec5c88267c2f0497d77913761a24df234f745c59160e59&amp;source=constructor"></iframe>
        </div>
    </div> -->