<!-- contact messenger chats -->

<div class="contacts__chats">

    <a class="contacts__link" href="viber://chat?number=%2B79780183060" target="_blank">
        <svg class="contacts__icon">
            <use xlink:href="#viber"></use>
        </svg>
    </a>

    <a class="contacts__link" href="https://api.whatsapp.com/send/?phone=79780183060" target="_blank">
        <svg class="contacts__icon">
            <use xlink:href="#whatsapp"></use>
        </svg>
    </a>

    <a class="contacts__link" href="https://telegram.me/Danielyalta" target="_blank">
        <svg class="contacts__icon">
            <use xlink:href="#telegram"></use>
        </svg>
    </a>

</div>