<!-- ================= Dolphins ================= -->

<section class="section section--dolphins">
    <h3 class="section__title">Дельфины <small>&#128525;</small></h3>
    <div class="container">
        <div class="dolphins">
            <div class="dolphins__item">
                <div class="dolphins__text">
                    Во время морских прогулок вас могут сопровождать игривые дельфины!
                    <p>Посмотрите :)</p>
                </div>
            </div>
            <div class="dolphins__content">
                <img class="dolphins__smartphone" src="./assets/images/dolphins/Smartphone.png" alt="">
                <iframe class="lazyload" data-src="https://www.youtube.com/embed/tpvHr8EN_qg"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>