<!-- Maestro shipSlider - photos of the ship -->

<div class="ship__images">

    <!-- Slider -->
    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-1.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-2.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-2.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-3.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-3.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-4.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-4.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-5.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-5.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-6.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-6.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-7.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-7.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-8.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-8.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-9.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-9.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-10.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-10.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-11.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-11.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-12.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-12.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-13.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-13.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/eden-14.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/eden/eden-14.jpg"
                            alt="катамаран еден эден ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

        </div> <!-- slider wrapper -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> <!-- slider container -->


    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <div class="shipSlider-mini swiper-container">
        <div class="shipSlider-mini__wrapper swiper-wrapper">

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-1.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-1.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-2.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-2.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-3.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-3.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-4.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-4.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-5.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-5.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-6.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-6.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-7.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-7.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-8.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-8.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-9.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-9.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-10.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-10.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-11.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-11.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-12.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-12.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-13.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-13.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/eden/thumbs/eden-14.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/eden/thumbs/eden-14.jpg"
                            alt="яхта eden ялта">
                    </picture>
                </div>
            </div>

        </div> <!-- slider MINI-wrapper -->
    </div> <!-- slider MINI-container -->

</div>