<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            Катамаран "Эден" - это самый популярный катамаран, сочетающий в себе высокий уровень комфорта и надежность.
            <p>Три уютные гостевые каюты, каюта экипажа и центральный салон позволят жить на борту без малейших
                признаков стеснения. При необходимости стол в салоне трансформируется в кровать, добавляя этим еще два
                спальных места. Совсем рядом с каютами, по правому и по левому борту, находятся 2 туалетные комнаты,
                включающие в себя душ с горячей водой. Салон окружен панорамными иллюминаторами, что позволит вам каждый
                момент любоваться морскими просторами.
            </p>
            <p>
                Камбуз находится в салоне по правому борту - очень удобно, так как вы можете передавать блюда в салон
                или сразу в кокпит. Камбуз оборудован газовой плитой, духовкой, двухсекционной мойкой, холодильником,
                печью СВЧ.

            </p>
            <p>
                Кокпит удобен и функционален. Здесь расположен вместительный отсек-термос для напитков и еще один
                большой, просторный обеденный стол на 8 персон. Крыша-козырек над кокпитом, выполненная из прочного
                пластика, защитит Вас от дождя или от палящих лучей солнца.
            </p>
            <p>
                Особенно приятно находиться на открытой палубе катамарана, где можно позагорать и почувствовать
                дуновение морского бриза, насладиться мерным шелестом
            </p>
        </div>
        <div class="ship__info">
            <div class="ship__parameters">
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="ship__value">
                        {{eden.type}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="ship__value">
                        {{eden.capacity}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-length}}
                    </div>
                    <div class="ship__value">
                        {{eden.length}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-beam}}
                    </div>
                    <div class="ship__value">
                        {{eden.beam}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-draft}}
                    </div>
                    <div class="ship__value">
                        {{eden.draft}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-speed}}
                    </div>
                    <div class="ship__value">
                        {{eden.speed}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-cabins}}
                    </div>
                    <div class="ship__value">
                        {{eden.cabins}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-sleeps}}
                    </div>
                    <div class="ship__value">
                        {{eden.sleeps}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-toilets}}
                    </div>
                    <div class="ship__value">
                        {{eden.toilets}}
                    </div>
                </div>
            </div> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{eden.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>