<!-- ================= Footer ================= -->

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__item">
                <div class="footer__title"><a href="../index.html">Яхта-Ялта</a></div>
                <div class="footer__text">Морские прогулки в Ялте. Аренда яхты и катера. Морские прогулки к
                    самым живописным достопримечательностям: скалы Адалары, Медведь-гора, Ласточкино гнездо,
                    скала Дива...</div>
                <a class="footer__yahta" href="../index.html">
                    <svg class="footer__logo">
                        <use xlink:href="#yahta"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="footer__second">
        <div class="container">
            <div class="footer__bottom">
                <div class="footer__copyright">Яхта-Ялта (с) 2021 Все права защищены.</div>
                <div class="footer__creator">Разработка сайта: <a href="https://vk.com/scrappyco"
                        target="_blank">Даниил</a>
                </div>
            </div>
        </div>
    </div>
</footer>