<!-- ================= Gallery-photos ================= -->
<!-- ================= Gallery-photos ================= -->
<!-- ================= Gallery-photos ================= -->
<!-- ================= Gallery-photos ================= -->
<!-- ================= Gallery-photos ================= -->

<div class="gallery" data-aos="fade-in">
    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-1.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-2.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-2.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-3.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-3.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-4.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-4.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-5.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-5.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-6.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-6.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-7.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-7.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-8.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-8.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-9.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-9.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-10.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-10.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-11.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-11.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-12.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-12.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-13.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-13.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-14.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-14.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-15.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-15.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-16.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-16.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-17.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-17.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-18.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-18.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-19.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-19.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-20.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-20.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-21.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-21.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-22.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-22.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-23.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-23.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-24.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-24.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-25.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-25.jpg"
                            alt="Морская прогулка скала Дива">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>


    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <div class="shipSlider-mini swiper-container">
        <div class="shipSlider-mini__wrapper swiper-wrapper">

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-1.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-1.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-2.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-2.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-3.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-3.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-4.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-4.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-5.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-5.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-6.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-6.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-7.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-7.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-8.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-8.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-9.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-9.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-10.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-10.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-11.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-11.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-12.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-12.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-13.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-13.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-14.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-14.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-15.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-15.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-16.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-16.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-17.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-17.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-18.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-18.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-19.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-19.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-20.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-20.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-21.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-21.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-22.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-22.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-23.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-23.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-24.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-24.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/thumbs/gallery-25.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/gallery/thumbs/gallery-25.jpg"
                            alt="Морская прогулка в Ялте">
                    </picture>
                </div>
            </div>

        </div>
    </div>
</div>