<!-- HEAD -->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="./assets/css/style.min.css">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="./assets/images/favicons/site.webmanifest">
<link rel="mask-icon" href="./assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Meta + OG tags -->
<meta name="description"
    content="Аренда яхты и катера в Ялте. Морские прогулки к замку Ласточкино гнездо, к Гурзуфу, Медведь-горе, скалам Адалары. Заказ яхты с капитаном" />
<meta name="keywords"
    content="Аренда яхты ялта, аренда катера ялта, яхта-ялта, ялта яхта аренда, прогулка на яхте, ялта морские прогулки, рыбалка на яхте ялта, рыбалка на катере ялта" />
<meta name="yandex-verification" content="66a28b60d8138467" />
<meta property="og:url" content="https://yahta-yalta.ru/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Яхта-Ялта: Морские прогулки" />
<meta property="og:description"
    content="Морская прогулка в Ялте. Морская прогулка к Ласточкино гнездо. Аренда яхты в Ялте. Аренда катера Ялта. Прогулка на яхте" />
<meta property="og:image" content="https://yahta-yalta.ru/img/intro/main-bg.jpg" />

<!-- Google fonts CDN -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500&display=swap"
    rel="stylesheet">


<!-- Yandex.Metrika counter -->
<script
    async> (function (m, e, t, r, i, k, a) { m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) }; m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a) })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(74716621, "init", { clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true });</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/74716621" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript> <!-- /Yandex.Metrika counter -->

<!-- PAGE TITLE -->
<title>{{ title }}</title>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-204178349-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-204178349-2');
</script>