<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__left">
                <!-- <div class="social">
                    <span class="social__title">Мы в соцсетях:</span>
                    <a class="social__icon" href="https://vk.com/yahtayalta" target="_blank">
                        <img src="./assets/images/icons/vk.svg" alt="yahta-yalta-vk">
                    </a>
                    <a class="social__icon" href="https://youtu.be/cZr3KrD-Cf0" target="_blank">
                        <img src="./assets/images/icons/youtube.svg" alt="yahta-yalta-youtube">
                    </a>
                    <a class="social__icon" href="https://instagram.com/yahtayalta.ru" target="_blank">
                        <img src="./assets/images/icons/instagram.svg" alt="yahta-yalta-insta">
                    </a>
                </div> -->
                <div class="header__contact">

                    <a class="header__phone" href="tel:+79780183060">
                        +7 (978) 018-30-60
                    </a>

                    <a class="header__messenger" href="viber://chat?number=%2B79780183060" target="_blank">
                        <svg class="header__icon">
                            <use xlink:href="#viber"></use>
                        </svg>
                    </a>

                    <a class="header__messenger" href="https://api.whatsapp.com/send/?phone=79780183060"
                        target="_blank">
                        <svg class="header__icon">
                            <use xlink:href="#whatsapp"></use>
                        </svg>
                    </a>

                </div>
            </div>

            <div class="header__center">

                <a class="header__yahta" href="../index.html">
                    <svg class="header__logo">
                        <use xlink:href="#yahta"></use>
                    </svg>
                </a>

                <div class="header__info">
                    <div class="header__title">
                        <a href="../index.html">Яхта-Ялта</a>
                    </div>
                    <h3 class="header__subtitle">Аренда яхт и катеров в Ялте</h3>
                </div>

            </div>

            <nav class="nav" id="nav">
                <ul class="nav__menu">
                    <li class="nav__item">
                        <a href="../index.html" class="nav__link">Главная</a>
                    </li>
                    <li class="nav__item">
                        <a href="../yachts.html" class="nav__link">Яхты</a>
                    </li>
                    <li class="nav__item">
                        <a href="../photos.html" class="nav__link">Фото</a>
                    </li>
                    <li class="nav__item">
                        <a href="../watch.html" class="nav__link">Видео</a>
                    </li>
                    <li class="nav__item">
                        <a href="../contacts.html" class="nav__link">Контакты</a>
                    </li>
                </ul>
            </nav>

            <button class="burger" type="button" id="burger">
                <span class="burger__item">Menu</span>
            </button>
        </div>
    </div>
</header>