<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            Ибица - это красивая, новая и просторная парусно-моторная яхта c 4 каютами.
            <p>
                Располагайтесь в зоне отдыха с обеденным столом под тентом, либо позагорайте на матрасах ближе к носовой
                части.
            </p>
            <p>
                При прогулке от 4-х часов можно приготовить мясо или улов на мангале.
            </p>
            <p>
                Прилагаются скидки на аренду
                светового дня/суток.
            </p>
            <p>
                6-8 человек располагаются с комфортом. Максимально: 10 человек.
            </p>
        </div>
        <div class="ship__info">
            <div class="ship__parameters">
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="ship__value">
                        {{ibiza.type}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="ship__value">
                        {{ibiza.capacity}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-length}}
                    </div>
                    <div class="ship__value">
                        {{ibiza.length}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-beam}}
                    </div>
                    <div class="ship__value">
                        {{ibiza.beam}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-draft}}
                    </div>
                    <div class="ship__value">
                        {{ibiza.draft}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-speed}}
                    </div>
                    <div class="ship__value">
                        {{ibiza.speed}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-cabins}}
                    </div>
                    <div class="ship__value">
                        {{ibiza.cabins}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-sleeps}}
                    </div>
                    <div class="ship__value">
                        {{ibiza.sleeps}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-toilets}}
                    </div>
                    <div class="ship__value">
                        {{ibiza.toilets}}
                    </div>
                </div>
            </div> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{ibiza.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>