<!-- ================= Intro ================= -->

<div id="intro" class="intro" data-aos="fade-in">
    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title" data-aos="fade-in" data-aos-delay="600">Аренда яхты в Ялте
            </h1>
            <h2 class="intro__subtitle" data-aos="fade-in" data-aos-delay="1100">Морские прогулки на катере, парусной и
                моторной яхте в Ялте.
                <p>
                    Покупайтесь на диких пляжах или в открытом, чистом море. Полюбуйтесь самыми красивыми
                    местами Ялты из яхты, совершая морскую прогулку к замку Ласточкино гнездо, скалам Адалары,
                    Медведь-горе, скале Дива...
                </p>
                <p>
                    Совершите настоящее морское путешествие!
                </p>
            </h2>
            <a class="btn btn--intro" href="../yachts.html" data-aos="fade-in" data-aos-delay="1600">Заказать яхту</a>
        </div>
    </div>
    <div class="intro__element" data-aos="zoom-out" data-aos-delay="2000">

        <picture>
            <source srcset="./assets/images/icons/sea-anchor.webp" type="image/webp">
            <img src="./assets/images/icons/sea-anchor.png" alt="якорь яхта-ялта">
        </picture>

    </div>
</div>