<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            Karolina - это красивая, новая и просторная парусная яхта.
            <p>Размещение:
                4 каюты с двух спальными кроватями.
                Кают компания: большой диван со столом в центре. Так же зона отдыха на палубе.
                Кухня (камбуз): плита, две конфорки, раковина с пресной водой, холодильник, столовые приборы.
                2 раздельных туалета, один душ, бойлер.
                Тент над палубным места отдыха, трап для купания, воздушный отопитель кают.
            </p>
            <p>
                При прогулке от 4-х часов можно приготовить мясо или улов на мангале.
            </p>
            <p>
                Цена за аренду на световой день (с 10 утра на 10 часов) - 65 тыс. руб.
            </p>
            <p>
                Цена за аренду на сутки - 80 тыс. руб.
            </p>
            <p>
                6-8 человек располагаются с комфортом. Максимально: 10 человек.
            </p>
        </div>
        <div class="ship__info">
            <div class="ship__parameters">
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="ship__value">
                        {{karolina.type}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="ship__value">
                        {{karolina.capacity}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-length}}
                    </div>
                    <div class="ship__value">
                        {{karolina.length}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-beam}}
                    </div>
                    <div class="ship__value">
                        {{karolina.beam}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-draft}}
                    </div>
                    <div class="ship__value">
                        {{karolina.draft}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-cabins}}
                    </div>
                    <div class="ship__value">
                        {{karolina.cabins}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-sleeps}}
                    </div>
                    <div class="ship__value">
                        {{karolina.sleeps}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-toilets}}
                    </div>
                    <div class="ship__value">
                        {{karolina.toilets}}
                    </div>
                </div>
            </div> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{karolina.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>