<div class="ship__feature">
    <div class="container">
        <div class="ship__title">
            <h2><span>
                    {{all-data.word-walkphotos}}
                </span></h2>
        </div>
    </div>

    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-1.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-8.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-8.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-10.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-10.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/cards/cards-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/cards/cards-1.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/cards/cards-3.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/cards/cards-3.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/services/services-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/cards/cards-3.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-16.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-16.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-4.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-4.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-15.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-15.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-22.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-22.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-18.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-18.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-12.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-12.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-5.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-5.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/gallery/gallery-26.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/gallery/gallery-26.jpg"
                            alt="прогулки на яхте и катере yahta-yalta">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

        </div> <!-- slider wrapper -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> <!-- slider container -->

</div>