<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            Monika - это большая яхта 13 метров в длину и 4 м в ширину, натуральное тиковое покрытие, купальная
            платформа с лестницей и душем, туалет, мойка, холодильник, плита, мангал - всё к вашим услугам.
            <p>
                Располагайтесь в зоне отдыха с обеденным столом под тентом, либо позагорайте на матрасах ближе к носовой
                части.
            </p>
            <p>
                При прогулке от 4-х часов можно приготовить мясо или улов на мангале.
            </p>
            <p>
                Прилагаются скидки на аренду
                светового дня/суток.
            </p>
            <p>
                6-8 человек располагаются с комфортом. Максимально: 10 человек.
            </p>
        </div>
        <div class="ship__info">
            <div class="ship__parameters">
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="ship__value">
                        {{monika.type}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="ship__value">
                        {{monika.capacity}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-length}}
                    </div>
                    <div class="ship__value">
                        {{monika.length}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-beam}}
                    </div>
                    <div class="ship__value">
                        {{monika.beam}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-draft}}
                    </div>
                    <div class="ship__value">
                        {{monika.draft}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-speed}}
                    </div>
                    <div class="ship__value">
                        {{monika.speed}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-cabins}}
                    </div>
                    <div class="ship__value">
                        {{monika.cabins}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-sleeps}}
                    </div>
                    <div class="ship__value">
                        {{monika.sleeps}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-toilets}}
                    </div>
                    <div class="ship__value">
                        {{monika.toilets}}
                    </div>
                </div>
            </div> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{monika.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>