<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            Natatores – общее латинское название плавающих птиц. А ведь известно: как ты яхту назовешь, так она и
            поплывет. С таким именем она не плывет – летит по волнам, расправляя свои паруса-крылья. Птица, скользящая
            по волнам.
            <p>Лучшая парусная яхта в Ялте!
                Мы ходим под всеми парусами при любой возможности!
                На борту все удобства:
            <p>
                - Гостевая каюта, туалет, душ, камбуз, холодильники.
            </p>
            <p>- Принадлежности для купания и развлечения на воде.</p>
            <p>- Снасти для рыбалки.</p>
            <p>- Кинотеатр, музыка.</p>
            <p>- Услуги повара и официанта. Мы купим для вас лучшие продукты от проверенных поставщиков без наценки,
                приготовим и накроем для вас стол!</p>
            <p>
                Три каюты в носовой части на семерых гостей + каюта экипажа + в кормовой — мастер-каюта на двух человек
                и детская на трех. Итого можно с относительным комфортом разместить 12 человек. Если среди них будет
                дети, то комфорт будет полным.
            </p>
            <p>В каждой каюте есть выход кондиционера, всего их на яхте два, один работает на нос и кают-компанию,
                второй на корму. Все оборудование морское, специализированое.</p>
            <p>Также в кают-компании установлена аудио-видео система Pioneer. Аудио колонки, кроме внутреннего
                расположения, также дополнительно выведены в кокпит. В мастер-каюте есть отдельный телевизор SONY.</p>
            <p>
                Всего стационарно установлено 4 паруса:

                генуя — 108 м
                стаксель — 50 м
                грот — 54 м
                бизань — 22 м
            </p>
        </div>
        <div class="ship__info">
            <div class="ship__parameters">
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="ship__value">
                        {{natatores.type}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="ship__value">
                        {{natatores.capacity}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-length}}
                    </div>
                    <div class="ship__value">
                        {{natatores.length}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-beam}}
                    </div>
                    <div class="ship__value">
                        {{natatores.beam}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-draft}}
                    </div>
                    <div class="ship__value">
                        {{natatores.draft}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-speed}}
                    </div>
                    <div class="ship__value">
                        {{natatores.speed}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-cabins}}
                    </div>
                    <div class="ship__value">
                        {{natatores.cabins}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-sleeps}}
                    </div>
                    <div class="ship__value">
                        {{natatores.sleeps}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-toilets}}
                    </div>
                    <div class="ship__value">
                        {{natatores.toilets}}
                    </div>
                </div>
            </div> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{natatores.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>