<!-- Maestro GLISSER -->

<div class="ship__feature">
    <div class="container">
        <div class="ship__title">
            <h2><span>
                    {{all-data.word-platform}}
                </span></h2>
        </div>

        <div class="ship__description ship__description--wide">
            Корма имеет алюминиевую откидную платформу, которая в откинутом виде представляет из себя прекрасную
            площадку для купания. Откинутая платформа открывает доступ в кормовой ангар (доступ к нему есть также с
            палубы через люк).
            <p>
                Яхта задумывалась как передвижной мобильный центр экстремальных видов спорта. 3.6 метра с кормы
                безжалостно отдано под экстремальные игрушки.
            </p>
            <p>
                Сейчас там стоит большой трехместный гидроцикл Sea-Doo Wake Pro 215 — это буксировщик вейкбордистов или
                воднолыжника.
                Там же — виндсерфинговая доска с парусом и мачтой, доски для вейка и для кайта, два набора экипировки
                для дайвинга.
                Большой ассортимент водных буксируемых игрушек.
                Наполнение ангара может быть индивидуальным, готовы принимать гостей со своим оборудованием.
            </p>
        </div>
    </div>



    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/natatores/natatores-21.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/natatores/natatores-21.jpg"
                            alt="яхта нататорес ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/natatores/natatores-22.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/natatores/natatores-22.jpg"
                            alt="яхта натоторес ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/natatores/natatores-20.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/natatores/natatores-20.jpg"
                            alt="яхта natatores ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>


        </div> <!-- slider wrapper -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> <!-- slider container -->
</div>