<!-- Maestro shipSlider - photos of the ship -->

<div class="ship__images">

    <!-- Slider -->
    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/nikole-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/nikole/nikole-1.jpg"
                            alt="яхта николь ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/nikole-2.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/nikole/nikole-2.jpg"
                            alt="яхта николь ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/nikole-3.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/nikole/nikole-3.jpg"
                            alt="яхта николь ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/nikole-4.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/nikole/nikole-4.jpg"
                            alt="яхта николь ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/nikole-5.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/nikole/nikole-5.jpg"
                            alt="яхта николь ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/nikole-6.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/nikole/nikole-6.jpg"
                            alt="яхта николь ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/nikole-7.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/nikole/nikole-7.jpg"
                            alt="яхта николь ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/nikole-8.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/nikole/nikole-8.jpg"
                            alt="яхта николь ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/nikole-9.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/nikole/nikole-9.jpg"
                            alt="яхта николь ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/nikole-10.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/nikole/nikole-10.jpg"
                            alt="яхта николь ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

        </div> <!-- slider wrapper -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> <!-- slider container -->


    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <div class="shipSlider-mini swiper-container">
        <div class="shipSlider-mini__wrapper swiper-wrapper">

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-1.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/nikole/thumbs/nikole-1.jpg"
                            alt="яхта nikole ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-2.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/nikole/thumbs/nikole-2.jpg"
                            alt="яхта nikole ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-3.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/nikole/thumbs/nikole-3.jpg"
                            alt="яхта nikole ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-4.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/nikole/thumbs/nikole-4.jpg"
                            alt="яхта nikole ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-5.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/nikole/thumbs/nikole-5.jpg"
                            alt="яхта nikole ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-6.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/nikole/thumbs/nikole-6.jpg"
                            alt="яхта nikole ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-7.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/nikole/thumbs/nikole-7.jpg"
                            alt="яхта nikole ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-8.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/nikole/thumbs/nikole-8.jpg"
                            alt="яхта nikole ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-9.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/nikole/thumbs/nikole-9.jpg"
                            alt="яхта nikole ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/nikole/thumbs/nikole-10.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/nikole/thumbs/nikole-10.jpg"
                            alt="яхта nikole ялта">
                    </picture>
                </div>
            </div>

        </div> <!-- slider MINI-wrapper -->
    </div> <!-- slider MINI-container -->

</div>