<!-- Maestro shipSlider - photos of the ship -->

<div class="ship__images">

    <!-- Slider -->
    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-1.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-2.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-2.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-3.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-3.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-4.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-4.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-5.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-5.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-6.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-6.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-7.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-7.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-8.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-8.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-9.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-9.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-10.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-10.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-11.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-11.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-12.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-12.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-13.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-13.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-14.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-14.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/omega-15.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/omega/omega-15.jpg"
                            alt="катамаран омега ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

        </div> <!-- slider wrapper -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> <!-- slider container -->


    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <div class="shipSlider-mini swiper-container">
        <div class="shipSlider-mini__wrapper swiper-wrapper">

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-1.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-1.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-2.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-2.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-3.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-3.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-4.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-4.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-5.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-5.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-6.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-6.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-7.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-7.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-8.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-8.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-9.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-9.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-10.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-10.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-11.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-11.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-12.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-12.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-13.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-13.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-14.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-14.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/omega/thumbs/omega-15.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/omega/thumbs/omega-15.jpg"
                            alt="яхта omega ялта">
                    </picture>
                </div>
            </div>

        </div> <!-- slider MINI-wrapper -->
    </div> <!-- slider MINI-container -->

</div>