<!-- Maestro description + information + ABOUT -->

<div class="container">
  <div class="ship__title">
    <h2><span> {{all-data.word-description}} </span></h2>
  </div>
  <div class="ship__about">
    <div class="ship__description">
      Парусно-пассажирский катамаран ⛵️ОМЕГА⛵️ Производство Франция.
      <p>- 3 пассажирских каюты</p>
      <p>- 3 душевых кабины</p>
      <p>- Запас пресной воды 250 л</p>
      <p>
        ✅ Вместимость 10 человек ✅ 3 паруса ✅ Корпоративы ✅ Дни рождения ✅ Банкеты ✅ Свадьбы
        ✅ Детские праздники
      </p>
      <p>Ждём вас для отличного времяпровождения на катамаране ОМЕГА ⛵️</p>
    </div>
    <div class="ship__info">
      <div class="ship__parameters">
        <div class="ship__clause">
          <div class="ship__type">{{all-data.word-type}}</div>
          <div class="ship__value">{{omega.type}}</div>
        </div>
        <div class="ship__clause">
          <div class="ship__type">{{all-data.word-capacity}}</div>
          <div class="ship__value">{{omega.capacity}}</div>
        </div>
        <div class="ship__clause">
          <div class="ship__type">{{all-data.word-length}}</div>
          <div class="ship__value">{{omega.length}}</div>
        </div>
        <div class="ship__clause">
          <div class="ship__type">{{all-data.word-beam}}</div>
          <div class="ship__value">{{omega.beam}}</div>
        </div>
        <div class="ship__clause">
          <div class="ship__type">{{all-data.word-draft}}</div>
          <div class="ship__value">{{omega.draft}}</div>
        </div>
        <!-- <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-speed}}
                    </div>
                    <div class="ship__value">
                        {{omega.speed}}
                    </div>
                </div> -->
        <div class="ship__clause">
          <div class="ship__type">{{all-data.word-cabins}}</div>
          <div class="ship__value">{{omega.cabins}}</div>
        </div>
        <div class="ship__clause">
          <div class="ship__type">{{all-data.word-sleeps}}</div>
          <div class="ship__value">{{omega.sleeps}}</div>
        </div>
        <div class="ship__clause">
          <div class="ship__type">{{all-data.word-toilets}}</div>
          <div class="ship__value">{{omega.toilets}}</div>
        </div>
      </div>
      <!-- parameters -->

      <div class="ship__cost">
        <div class="ship__price">{{omega.price}}</div>
      </div>
      <!-- cost -->
    </div>
    <!-- info -->
  </div>
</div>
