<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            Итальянская моторная яхта "Раффаэла" - прекрасный выбор для ценителей комфортной прогулки.
            <p>
                Желаете качественно послушать музыку во время морского путешествия? - Яхта оснащена музыкальным центром.
            </p>
            <p>
                - Платформа и лестница для купания
            </p>
            <p>
                - Бытовая техника: холодильник, газовая плита, микроволновая печь, кондиционер
            </p>
        </div>
        <div class="ship__info">
            <div class="ship__parameters">
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="ship__value">
                        {{raffaela.type}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="ship__value">
                        {{raffaela.capacity}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-length}}
                    </div>
                    <div class="ship__value">
                        {{raffaela.length}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-beam}}
                    </div>
                    <div class="ship__value">
                        {{raffaela.beam}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-draft}}
                    </div>
                    <div class="ship__value">
                        {{raffaela.draft}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-speed}}
                    </div>
                    <div class="ship__value">
                        {{raffaela.speed}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-cabins}}
                    </div>
                    <div class="ship__value">
                        {{raffaela.cabins}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-sleeps}}
                    </div>
                    <div class="ship__value">
                        {{raffaela.sleeps}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-toilets}}
                    </div>
                    <div class="ship__value">
                        {{raffaela.toilets}}
                    </div>
                </div>
            </div> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{raffaela.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>