<!-- ================= Reviews-photos ================= -->

<!-- <div class="container">

</div> -->
<div class="reviews">
    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/reviews/reviews-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/reviews/reviews-1.jpg"
                            alt="отзывы яхта-ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/reviews/reviews-2.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/reviews/reviews-2.jpg"
                            alt="отзывы яхта ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/reviews/reviews-3.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/reviews/reviews-3.jpg"
                            alt="отзывы яхта ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/reviews/reviews-4.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/reviews/reviews-4.jpg"
                            alt="отзывы яхта ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/reviews/reviews-5.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/reviews/reviews-5.jpg"
                            alt="отзывы яхта ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/reviews/reviews-6.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/reviews/reviews-6.jpg"
                            alt="отзывы яхта ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/reviews/reviews-7.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/reviews/reviews-7.jpg"
                            alt="отзывы яхта ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>        
    </div>
</div>