<!-- Maestro GLISSER -->

<div class="ship__feature">
    <div class="container">
        <div class="ship__title">
            <h2><span>
                    Сауна
                </span></h2>
        </div>

        <div class="ship__description">
            Уникальная изюминка этой яхты - она оборудована самой настоящей сауной! 
        </div>
    </div>


    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/sauna/saint-mary-sauna-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/sauna/saint-mary-sauna-1.jpg"
                            alt="глиссирование">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/sauna/saint-mary-sauna-2.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/sauna/saint-mary-sauna-2.jpg"
                            alt="катер глиссирование">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/sauna/saint-mary-sauna-3.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/sauna/saint-mary-sauna-3.jpg"
                            alt="катер глиссер">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            
        </div> <!-- slider wrapper -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> <!-- slider container -->
</div>