<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            "Святая Мария" - это крупная, двухмачтовая парусно-моторная яхта. Может вмещать до 20 человек. Подходит для большой компании и дальних морских путешествий. Тип яхты: стаксельная шхуна. 
            <p>
                Для любителей порыбачить также есть все необходимое. Улов Вы всегда можете приготовить на мангале на корме яхты. Палуба Святой Марии достаточно просторная. Здесь есть и место для принятия солнечных ванн и широкий стол для большой компании, а место под тентом на корме укроет Вас от солнечных лучей.
            </p>
            <p>
                - Яхта имеет две мачты: первая от носа – грот-мачта и ближе к корме бизань-мачта. Парусное вооружение: 2 стакселя, 2 грота
            </p>
            <p>
                - Камбуз для приготовления еды оборудован всем необходимым
            </p>
            <p>
                - На яхте 2 гальюна и полноценный душ
            </p>
            <p>
                - Яхта способна идти к ветру до 45 градусов. Крейсерская скорость под парусом – 5 узлов, максимум – 14 узлов. Комфортная скорость до 7 узлов. 
                Крейсерская скорость под двигателем – 6 узлов, максимум – 10 узлов.
            </p>
            <p>
                - Водоизмещение 67 тонн
            </p>
            <p>
                - Объем запаса пресной воды: 4500 литра
            </p>
            <p>
                - Максимальный запас топлива 7200 литров
            </p>
            <p>
                - Яхта оборудована электрогенератором мощностью 8 кВт и электросетями напряжением: 220V, 24V и 12V.
            </p>
        </div>
        <div class="ship__info">
            <div class="ship__parameters">
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-type}}
                    </div>
                    <div class="ship__value">
                        {{saint-mary.type}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-capacity}}
                    </div>
                    <div class="ship__value">
                        {{saint-mary.capacity}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-length}}
                    </div>
                    <div class="ship__value">
                        {{saint-mary.length}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-beam}}
                    </div>
                    <div class="ship__value">
                        {{saint-mary.beam}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-draft}}
                    </div>
                    <div class="ship__value">
                        {{saint-mary.draft}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-speed}}
                    </div>
                    <div class="ship__value">
                        {{saint-mary.speed}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-cabins}}
                    </div>
                    <div class="ship__value">
                        {{saint-mary.cabins}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-sleeps}}
                    </div>
                    <div class="ship__value">
                        {{saint-mary.sleeps}}
                    </div>
                </div>
                <div class="ship__clause">
                    <div class="ship__type">
                        {{all-data.word-toilets}}
                    </div>
                    <div class="ship__value">
                        {{saint-mary.toilets}}
                    </div>
                </div>
            </div> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{saint-mary.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>