<!-- Maestro shipSlider - photos of the ship -->

<div class="ship__images">

    <!-- Slider -->
    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-1.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-2.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-2.jpg"
                            alt="яхта мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-3.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-3.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-4.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-4.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-5.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-5.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-6.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-6.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-7.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-7.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-8.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-8.jpg"
                            alt="яхта мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-9.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-9.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-10.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-10.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-11.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-11.jpg"
                            alt="яхта мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-12.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-12.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-13.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-13.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-14.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-14.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-15.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-15.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-16.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-16.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-17.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-17.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-18.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-18.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-19.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-19.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/saint-mary-20.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/saint-mary/saint-mary-20.jpg"
                            alt="яхта святая мария ялта">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

        </div> <!-- slider wrapper -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> <!-- slider container -->


    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <div class="shipSlider-mini swiper-container">
        <div class="shipSlider-mini__wrapper swiper-wrapper">

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-1.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-1.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-2.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-2.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-3.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-3.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-4.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-4.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-5.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-5.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-6.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-6.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-7.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-7.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-8.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-8.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-9.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-9.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-10.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-10.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-11.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-11.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-12.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-12.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-13.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-13.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-14.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-14.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-15.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-15.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-16.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-16.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-17.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-17.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-18.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-18.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-19.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-19.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/saint-mary/thumbs/saint-mary-20.webp"
                            type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/saint-mary/thumbs/saint-mary-20.jpg"
                            alt="яхта saint-mary ялта">
                    </picture>
                </div>
            </div>

        </div> <!-- slider MINI-wrapper -->
    </div> <!-- slider MINI-container -->

</div>