<!-- ================= Services ================= -->

<section id="services" class="section section--services">
    <div class="container">
        <h3 class="section__title" data-aos="fade-in">Что вас ждёт:</h3>
        <div class="services" data-aos="fade-in">
            <div class="services__item">
                <picture>
                    <source data-srcset="./assets/images/services/services-1.webp" type="image/webp">
                    <img class="lazyload" data-src="./assets/images/services/services-1.jpg"
                        alt="Морские прогулки в Ялте">
                </picture>
                <div class="services__info">
                    <div class="services__title">Путешествие</div>
                    <div class="services__text">Мы подарим Вам незабываемые впечатления от морской прогулки
                        в
                        мир лазурного моря с живописными скалами и гротами, чистыми дикими пляжами и
                        купанием в
                        открытом море.
                        <p>Скалы Адалары, Медведь-гора, Ласточкино гнездо, скала Дива, царские дворцы - всё
                            это
                            великолепие предстанет перед вашим взором.</p>
                    </div>
                </div>
            </div>
            <div class="services__item">
                <picture>
                    <source data-srcset="./assets/images/services/services-2.webp" type="image/webp">
                    <img class="lazyload" data-src="./assets/images/services/services-2.jpg" alt="Морские по морю ялта">
                </picture>
                <div class="services__info">
                    <div class="services__title">Комфорт</div>
                    <div class="services__text">Наши яхты и катера оборудованы всем необходимым, чтобы ваш отдых
                        был комфортным.
                        Мягкий внутренний салон, натуральное тиковое покрытие, купальная
                        платформа с лестницей и душем, туалет, мойка, холодильник, плита, гриль - всё это на
                        большинстве наших яхт.
                        <!-- <p>У нас клиенты могут прилечь позагорать на матрасы как на передней части судна (на
                            носу), так и на корме. </p> -->
                    </div>
                </div>
            </div>
            <div class="services__item">
                <picture>
                    <source data-srcset="./assets/images/services/services-3.webp" type="image/webp">
                    <img class="lazyload" data-src="./assets/images/services/services-3.jpg" alt="прогулка яхта ялта">
                </picture>
                <div class="services__info">
                    <div class="services__title">Рыбалка & Гриль</div>
                    <div class="services__text">На яхте предусмотрены рыболовные снасти. Эхолот покажет
                        скопление рыбы для удачной рыбалки.
                        <p>А гриль придаст
                            несравненный
                            вкус свежей рыбе... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>