<!-- Maestro shipSlider - photos of the ship -->

<div class="ship__images">

    <!-- Slider -->
    <div class="shipSlider swiper-container">
        <div class="shipSlider__wrapper swiper-wrapper">

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-1.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-1.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-2.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-2.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-3.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-3.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-4.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-4.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-5.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-5.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-6.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-6.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-7.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-7.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-8.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-8.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-9.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-9.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-10.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-10.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-11.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-11.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>

            <div class="shipSlider__slide swiper-slide">
                <div class="shipSlider__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/vaynah-12.webp" type="image/webp">

                        <img class="swiper-lazy" data-src="./assets/images/boats/vaynah/vaynah-12.jpg"
                            alt="яхта vaynah ялта. яхта вайнах">
                    </picture>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>



        </div> <!-- slider wrapper -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div> <!-- slider container -->


    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <!-- THUMBS -->
    <div class="shipSlider-mini swiper-container">
        <div class="shipSlider-mini__wrapper swiper-wrapper">

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-1.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-1.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-2.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-2.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-3.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-3.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-4.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-4.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-5.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-5.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-6.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-6.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-7.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-7.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-8.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-8.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-9.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-9.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-10.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-10.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-11.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-11.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>

            <div class="shipSlider-mini__slide swiper-slide">
                <div class="shipSlider-mini__image">
                    <picture>
                        <source data-srcset="./assets/images/boats/vaynah/thumbs/vaynah-12.webp" type="image/webp">
                        <img class="lazyload" data-src="./assets/images/boats/vaynah/thumbs/vaynah-12.jpg"
                            alt="яхта vaynah ялта">
                    </picture>
                </div>
            </div>



        </div> <!-- slider MINI-wrapper -->
    </div> <!-- slider MINI-container -->

</div>