<!-- Maestro description + information + ABOUT -->

<div class="container">
    <div class="ship__title">
        <h2><span>
                {{all-data.word-description}}
            </span></h2>
    </div>
    <div class="ship__about">
        <div class="ship__description">
            Vaynah - небольшая яхта для компании до 5 человек.
        </div>
        <div class="ship__info">
            <dl class="ship__parameters">
                <div class="ship__clause">
                    <dt class="ship__type">
                        {{all-data.word-type}}
                    </dt>
                    <dd class="ship__value">
                        {{vaynah.type}}
                    </dd>
                </div>
                <div class="ship__clause">
                    <dt class="ship__type">
                        {{all-data.word-capacity}}
                    </dt>
                    <dd class="ship__value">
                        {{vaynah.capacity}}
                    </dd>
                </div>
                <div class="ship__clause">
                    <dt class="ship__type">
                        {{all-data.word-cabins}}
                    </dt>
                    <dd class="ship__value">
                        {{vaynah.cabins}}
                    </dd>
                </div>
                <div class="ship__clause">
                    <dt class="ship__type">
                        {{all-data.word-toilets}}
                    </dt>
                    <dd class="ship__value">
                        {{vaynah.toilets}}
                    </dd>
                </div>
            </dl> <!-- parameters -->

            <div class="ship__cost">
                <div class="ship__price">
                    {{vaynah.price}}
                </div>
            </div> <!-- cost -->

        </div> <!-- info -->
    </div>
</div>