<!-- ================= Video ================= -->

<section id="video" class="section section--video">
    <div class="container">
        <h3 class="section__title">Окунитесь в море впечатлений! <small>&#128522;</small></h3>
        <div class="video">
            <div class="video__col video__col--big">
                <div class="video__item video__item--big">
                    <iframe class="lazyload" data-src="https://www.youtube.com/embed/drHUI834nF4?loop=1"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="video__col">
                <div class="video__item video__item">
                    <iframe class="lazyload" data-src="https://www.youtube.com/embed/d1wVPqk4i_k?loop=1"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="video__item video__item">
                    <iframe class="lazyload" data-src="https://www.youtube.com/embed/jpYxp8tqslA?loop=1"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>